/* Bordered form */
form {
    border: 3px solid #f1f1f1;
	height:98%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 16%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #3399ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:208px;
	
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


/* Add padding to containers */
.container {
    padding-top: 200px;
	text-align:center;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.pwd {
        display: block;
        float: none;
    }

}

.copyright{
	color:grey;
}