<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>prescription</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div id="update" class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Enter Your Details Here</div>
			<div class="panel-body">
				<form name="myform">
					<div class="form-group">
						<label for="fullName">Full Name *</label>
						<input v-model="doctor.fullName" name="fullName" id="fullName"  class="form-control" type="text" data-validation="required"></input>
					</div>
					<div class="form-group">
						<label for="dob">Date Of Birth *</label>
						<input v-model="doctor.dob" id="dob" name="dob" class="form-control" type="date" data-validation="required"></input>
					</div>
					<div class="form-group">
						<label for="gender">Gender</label>
						<select v-model="doctor.gender" name="gender" id="gender" class="form-control">
							<option selected="true">Male</option>
							<option>Female</option>
							<option>Other</option>
						</select>
					</div>
					<div class="form-group">
						<label for="phone">Phone Number *</label>
						<input v-model="doctor.phoneNumber" type="text" id="phone" name="phone" class="form-control" data-validation="required"></input>
					</div>
					<div class="form-group">
						<label for="myName">Email address</label>
						<input v-model="doctor.email" id="email" name="email" class="form-control" type="text" data-validation="required"></input>
					</div>
					<div class="form-group">
						<label for="specialist">Specialist *</label>
						<input v-model="doctor.specialist" id="specialist" name="specialist" class="form-control" type="text" data-validation="required"></input>
					</div>
					<div class="form-group">
						<label for="address">Address *</label>
						<input v-model="address.addressLine1" id="addressLine1" name="addressLine1" class="form-control" type="text" data-validation="required"></input>
					</div>
					<div class="form-group">
						<label for="address">City *</label>
						<input v-model="address.city" id="city" name="city" class="form-control" type="text" data-validation="required"></input>
					</div>
					<div class="form-group">
						<label for="address">State *</label>
						<input v-model="address.state" id="state" name="state" class="form-control" type="text" data-validation="required"></input>
					</div>
					<div class="form-group">
						<label for="userName">User Name *</label>
						<input v-model="doctor.userName" id="userName" name="userName" class="form-control" type="text" data-validation="required"></input>
					</div>
					<div class="form-group">
						<label for="password">Password *</label>
						<input id="password" name="password" class="form-control" type="password" data-validation="required"></input>
					</div>
				
					<div class="form-group">
						<label for="repeatPassword">Repeat Password *</label>
						<input v-model="doctor.password" id="repeatPassword" name="repeatPassword" class="form-control" type="password" data-validation="required"></input>
					</div>
					
					<button v-on:click="updateDoctor" id="submit" type="submit" value="submit" class="btn btn-primary center">Submit</button>
			
				</form>

			</div>
		</div>
	</div>
</div>
</body>



<script>
var vm = new Vue({
    el: '#update',
    data: {
      message:'',
      doctor:{},
      address: {}
    },
    
    
    created () {
        // fetch the data when the view is created
        this.fetchData()
      },
      
    methods: {
    	
    	fetchData: function(){
      	  var vm = this;
      	  var path = window.location.pathname;
      	  var doctorId = path.split("/")[3];
			  this.loadDoctor(doctorId);
        },
        
        
        loadDoctor: function(doctorId){
      	  axios.get('/doctor/'+doctorId)
      	  .then(function (response) {
      		  vm.doctor = response.data
      			vm.address = vm.doctor.address
      	  })
    		  .catch(function (error) {
    			vm.message="Error loading patient ["+vm.doctor.userName+"]";
    		  })
        },
        
        updateDoctor:function(e){
    		e.preventDefault();
            var vm = this;
            vm.doctor.address = vm.address
            axios.put('/doctor/'+vm.doctor.id, 
			  vm.doctor
            )
            .then(function (response) {
              vm.message="user successfully saved!!";
              window.location.href = '/doctor/'+vm.doctor.id
            })
            .catch(function (error) {
             vm.message=error.response.data
            });

    	}
    }
  })
 </script>
</html>	

