<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>prescription</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<!-- Bootstrap -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>

	<form action="">

		<div id="update" class="row">
			<div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">Enter Your Details Here</div>
					<div class="panel-body">
						<form name="myform">


							<!-- <div>
				<div class="checkbox" v-for="brand in brands">
				<label><input type="checkbox" @click="setBrand($event)" :value="brand.b_id"  v-model="this.brandArray" >: {{ brand.b_name }}</label>
				</div>
				</div>  -->



							<div class="form-group">
								<label for="fullName">Full Name *</label> <input
									v-model="patient.fullName" name="fullName" id="fullName"
									class="form-control" type="text" data-validation="required"></input>
							</div>
							<div class="form-group">
								<label for="dob">Date Of Birth *</label> <input
									v-model="patient.dob" id="dob" name="dob" class="form-control"
									type="date" data-validation="required"></input>
							</div>
							<div class="form-group">
								<label for="gender">Gender</label> <select
									v-model="patient.gender" name="gender" id="gender"
									class="form-control">
									<option selected="true">Male</option>
									<option>Female</option>
									<option>Other</option>
								</select>
							</div>
							<div class="form-group">
								<label for="phone">Phone Number *</label> <input
									v-model="patient.phoneNumber" type="text" id="phone"
									name="phone" class="form-control" data-validation="required"></input>
							</div>
							<div class="form-group">
								<label for="myName">Email address</label> <input
									v-model="patient.email" id="email" name="email"
									class="form-control" type="text" data-validation="required"></input>
							</div>

							<div class="form-group">
								<label for="age">Age *</label> <input v-model="patient.age"
									id="age" name="age" class="form-control" type="text"
									data-validation="required"></input>
							</div>

							<div class="form-group">
								<label for="disease">Disease *</label> <input
									v-model="patient.disease" id="disease" name="disease"
									class="form-control" type="text" data-validation="required"></input>
							</div>

							<div class="form-group">
								<label for="address">Address *</label> <input
									v-model="address.addressLine1" id="addressLine1"
									name="addressLine1" class="form-control" type="text"
									data-validation="required"></input>
							</div>
							<div class="form-group">
								<label for="address">City *</label> <input
									v-model="address.city" id="city" name="city"
									class="form-control" type="text" data-validation="required"></input>
							</div>
							<div class="form-group">
								<label for="address">State *</label> <input
									v-model="address.state" id="state" name="state"
									class="form-control" type="text" data-validation="required"></input>
							</div>
							<div class="form-group">
								<label for="userName">User Name *</label> <input
									v-model="patient.userName" id="userName" name="userName"
									class="form-control" type="text" data-validation="required"></input>
							</div>
							<div class="form-group">
								<label for="password">Password *</label> <input id="password"
									name="password" class="form-control" type="password"
									data-validation="required"></input>
							</div>

							<div class="form-group">
								<label for="repeatPassword">Repeat Password *</label> <input
									v-model="patient.password" id="repeatPassword"
									name="repeatPassword" class="form-control" type="password"
									data-validation="required"></input>
							</div>

							<button v-on:click="updatePatient" id="submit" type="submit"
								value="submit" class="btn btn-primary center">Submit</button>

						</form>

					</div>
				</div>
			</div>
		</div>

	</form>
</body>



<script>
      var vm = new Vue({
        el: '#update',
        data: {
          message:'',
          patient:{},
          address: {}
        },
        
        
        created () {
            // fetch the data when the view is created
            this.fetchData()
          },
          
        methods: {
        	
        	fetchData: function(){
          	  var vm = this;
          	  var path = window.location.pathname;
          	  var patientId = path.split("/")[3];
  			  this.loadPatient(patientId);
            },
            
            
        	loadPatient: function(patientId){
          	  axios.get('/patient/'+patientId)
          	  .then(function (response) {
          		  vm.patient = response.data
          		  vm.address = vm.patient.address
          	  })
       		  .catch(function (error) {
       			vm.message="Error loading patient ["+vm.patient.userName+"]";
       		  })
            },
            
            updatePatient:function(e){
        		e.preventDefault();
                var vm = this;
                vm.patient.address = vm.address
                axios.put('/patient/'+vm.patient.id, 
				  vm.patient
                )
                .then(function (response) {
                  vm.message="user successfully saved!!";
                  window.location.href = '/patient/'+vm.patient.id
                })
                .catch(function (error) {
                 vm.message=error.response.data
                });

        	}
        }
      })
</script>
</html>